<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>site</title>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a
                        href="https://naruto.fandom.com/ru/wiki/%D0%9A%D0%BB%D0%B0%D0%BD_%D0%A3%D1%87%D0%B8%D1%85%D0%B0">Учиха</a>
                </li>
                <li><a
                        href="https://naruto.fandom.com/ru/wiki/%D0%9A%D0%BB%D0%B0%D0%BD_%D0%A1%D0%B5%D0%BD%D0%B4%D0%B6%D1%83">Сенджу</a>
                </li>
                <li><a
                        href="https://naruto.fandom.com/ru/wiki/%D0%9A%D0%BB%D0%B0%D0%BD_%D0%9E%D0%BE%D1%86%D1%83%D1%86%D1%83%D0%BA%D0%B8">Оцуцуки</a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="people">
        <div class="person" v-for="(result,index) in results">
            <a :href="result.wiki" v-bind:alt="results">
                <img :src="result.avatar" v-bind:alt="results">
                <p class="nameColor">{{ result.first_name }} {{ result.last_name }}</p><br>
            </a>
            <button class="button" v-on:click="showForm(index)">show</button>
            <button class="button" v-on:click="del(index)">delete</button>
            <div class="card">
                <form class="change_form">
                    <input type="text" :value="result.first_name"><br>
                    <input type="text" placeholder="Новая фамилия" :value="result.last_name"><br>
                    <input type="text" placeholder="Новая ссылка на картинку" :value="result.avatar"><br>
                    <input type="url" placeholder="Новая ссылка на страницу" :value="result.wiki"><br>
                    <button class="button" form="change_form" @click="putRequest(index)">change</button>
            </div>
            </form>

        </div>

    </div>


    <div class="block">
        <form id="form">
            <p>Name:</p>
            <input v-model="n_object.first_name" placeholder=" ">

            <p>Surname:</p>
            <input v-model="n_object.last_name" placeholder=" ">

            <p>Image:</p>
            <input v-model="n_object.avatar" placeholder=" ">

            <p>Wiki:</p>
            <input v-model="n_object.wiki" placeholder=" ">
            <div>
                <button v-on:click="postttt">click</button>
            </div>
        </form>
    </div>
    </div>
    <script src="java.js"></script>
</body>

</html>