body {
    margin: 0;
    padding: 0;
    background: url(https://d.wattpad.com/story_parts/950534230/images/163321f497fe8e68156918468528.jpg)no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
#people {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

img {
    width: 70%;
    height: 70%;
}

.person {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    min-width: 260px;
    width: 25%;
    margin: 30px ;
    padding: 10px 0;
}

.person img:hover {
    transform: scale(1.1);
}

.person a {
    text-decoration: none;
    color: black;
}

.logo {
    float: left;
  }

  nav {
    float: right;
    width: 100%;
}
  nav ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: space-around;
}
  nav li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px;
    text-decoration: none black;
  }

.container:after {
    content: "";
    display: table;
    clear: both;
    position: fixed;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#form {
    text-align: center;
    border: 3px solid green;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 3%;
}

.block {
    height: 282px;
    width: 100%;
    margin: 40px auto 0;
    background-color: gray;
    border-radius: 3%;
    right: 0 auto ;
}
p {
    font-weight: bold;
    margin: 10px 0;
}

label {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    width: 100px;
}

/* .sezon {  
    height: 173px;
    width: 231px;
    margin: 40px auto 0;
    background-color: gray;
    border-radius: 3%;
    position: fixed;
    right: 3% ;
    top: 46%;
}

#sborder{
    height: 167px;
    width: 233px;
    text-align: center;
    border: 3px solid green;
    position: fixed;
    right: 4.5% ;
    top: 50%;
    padding: 15px;
    margin-bottom: 15px;
} */

b{
    margin: 15px auto 0;
    background: white; /* Цвет фона под заголовком */
    color: black; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
}
.btn {
    background: white; /* Цвет фона под заголовком */
    color: black; /* Цвет текста */
    padding: 5px; 
    display: block;
    margin: 15px auto;
    
}
